body {
    background-color: rgba(59, 0, 99, 0.973) !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #080a0c; 
    --snd-bg-color: #101418; 
    --main-color: #e6b800; 
    --main-color-hover: #b89200; 
    --text-color: #e0e0e0; 
    --second-text-color: #a0a0a0; 
    --glass-bg: rgba(255, 255, 255, 0.02); 
    --glass-border: rgba(255, 255, 255, 0.06); 
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color) !important;
    color: var(--text-color);
    line-height: 1.7;
}

section {
    background: var(--bg-color) !important;
    padding: 6rem 9% 3rem;
    min-height: auto;
}


section:nth-child(even) {
    background: var(--snd-bg-color) !important;
}

.heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 700;
    color: var(--text-color);
}

.heading span {
    color: var(--main-color);
    text-shadow: 0 0 10px rgba(230, 184, 0, 0.2);
}


.btn {
    display: inline-block;
    padding: 1.2rem 3rem;
    background: var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #000 !important; 
    font-weight: 700;
    transition: .5s ease;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    color: var(--main-color) !important;
    box-shadow: 0 0 2rem rgba(230, 184, 0, 0.4);
    transform: translateY(-3px);
    outline: 2px solid var(--main-color);
}
/* --- CABEÇALHO (HEADER) --- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(12, 28, 46, 0.85); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, rgba(26,0,51,0.5) 0%, rgba(12,28,46,1) 80%);
    min-height: auto;        
    padding-top: 12rem;     
    padding-bottom: 5rem;   
    gap: 5rem;             
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    max-width: 500px; 
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* --- AJUSTE DA FOTO --- */
.home-img img {
    width: 250px;            
    height: 250px;           
    object-fit: cover;      
    border-radius: 50%;    
    border: .5rem solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    transition: .5s ease;
}

.home-img img:hover {
    transform: scale(1.05); 
}

/* --- ABOUT SECTION --- */
.about {
    background: var(--snd-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content h2 {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
    color: var(--main-color);
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.6;
}



.about-content, 
.skills-box, 
.services-box {
    background: rgba(255, 255, 255, 0.02); 
    backdrop-filter: blur(15px); 
    
  
    border: 1px solid rgba(255, 255, 255, 0.08); 
    
    border-radius: 2rem; 
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    padding: 3rem; 
    
    
    max-width: 900px; 
    margin: 0 auto; 
    
    
    transition: 0.5s ease;
}


.about-content:hover, 
.skills-box:hover, 
.services-box:hover {
    border-color: var(--main-color); 
    box-shadow: 0 0 15px rgba(230, 184, 0, 0.2);
    transform: translateY(-5px);
}



.about-content h3 {
    font-size: 2.5rem;
    color: var(--main-color); 
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}


.about-content p {
    font-size: 1.6rem;
    color: var(--text-color); 
    line-height: 1.8; 
    text-align: center;
}
/* --- PROJECTS SECTION --- */
.projects {
    background: var(--snd-bg-color);
    padding-bottom: 5rem;
}

.projects-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 3rem;
    padding: 0 5%;
}

.project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    height: 350px; 
    background: var(--glass-bg); 
    border: 1px solid var(--glass-border);
    transition: .5s ease;
}

.project-box:hover {
    border-color: var(--main-color);
    transform: translateY(-5px); 
}

/* --- RESOLUÇÃO DA MANCHA D'ÁGUA --- */
.project-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.5; 
    filter: brightness(0.7);
    transition: .5s ease;
}

.project-box:hover img {
    opacity: 0.1; 
}


.project-layer {
    position: relative; 
    z-index: 10; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 3rem;
    transform: translateY(0); 
    background: linear-gradient(transparent, rgba(12, 28, 46, 0.9)); 
}

.project-layer h4 {
    font-size: 2.2rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.project-layer p {
    font-size: 1.4rem;
    margin-bottom: 3rem; 
    line-height: 1.5;
    color: var(--text-color);
}


.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
    color: var(--bg-color);
    font-size: 2.4rem;
    transition: .3s;
    box-shadow: 0 0 1rem rgba(0, 231, 255, 0.3);
}

.project-layer a:hover {
    transform: scale(1.1);
    background: var(--main-color-hover);
    box-shadow: 0 0 1.5rem rgba(184, 75, 255, 0.5);
}


.stacks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }


form {
    max-width: 900px;
    margin: 5rem auto; 
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    padding: 3rem;
    background: var(--glass-bg); 
    border: 1px solid var(--glass-border);
    border-radius: 2rem;
}


.input-group {
    display: flex;
    gap: 1.5rem;
}


form input,
form textarea {
    width: 100%;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    background: #111418; 
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    color: var(--text-color); 
    transition: 0.3s ease;
}


form input::placeholder,
form textarea::placeholder {
    color: var(--second-text-color); 
}


form input:focus,
form textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 10px rgba(230, 184, 0, 0.2);
}


.contact-btn {
    align-self: center;
    margin-top: 2rem;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 1rem rgba(0, 255, 255, 0.3);
}

.contact form .input-box input {
    width: 49%; 
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


@media (max-width: 768px) {
    .contact form .input-box input {
        width: 100%;
    }
}

/* --- FOOTER --- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2rem;
    color: var(--bg-color);
}


.services-container {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr); 
    align-items: start;
    gap: 2.5rem;
    max-width: 1200px; 
    margin: 3rem auto; 
}

.services-box {
    background: var(--glass-bg); 
    border: 1px solid var(--glass-border);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: 0.5s ease-in-out;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.services-box:hover {
    border-color: var(--main-color); 
    transform: translateY(-8px) scale(1.02); 
    box-shadow: 0 0 15px rgba(230, 184, 0, 0.2);
}


.services-box i {
    font-size: 6rem;
    color: var(--main-color);
    text-shadow: 0 0 10px rgba(230, 184, 0, 0.4); 
    margin-bottom: 1.5rem;
}


.services-box h3 {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1rem;
}


.services-box p {
    font-size: 1.5rem;
    color: var(--second-text-color);
    line-height: 1.6;
}


@media (max-width: 991px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr; 
    }
}


.skills {
    background: transparent; 
}

.skills-row {
    display: flex; 
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.skills-column {
    flex: 1 1 45rem; 
}


.skills-column .title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-weight: 600;
}


.skills-box {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 3rem;
    transition: 0.5s ease-in-out;
}

.skills-box:hover {
    transform: translateY(-5px);
    border-color: var(--main-color); 
    box-shadow: 0 0 20px rgba(0, 231, 255, 0.2);
}


.skills-content .progress {
    padding: 1.5rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 1rem;
}


.skills-content .progress h3 span {
    color: var(--main-color);
}


.skills-content .progress .bar {
    height: 1.2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
}


.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.6rem;
    background: linear-gradient(90s, var(--main-color), #01acdb); 
    width: 0; 
    transition: width 2s ease-in-out; 
}


.skills-content .progress .bar-infra span {
    background: linear-gradient(90s, #a370f7, #6e44ff); 
}


.skills-box.animate .progress .bar span {
    
    width: 100%; 
}


.skills-column:nth-child(1) .progress:nth-child(1) .bar span { width: 80%; } /* Python */
.skills-column:nth-child(1) .progress:nth-child(2) .bar span { width: 60%; } /* C# */
.skills-column:nth-child(1) .progress:nth-child(3) .bar span { width: 70%; } /* JS */

/* Larguras Específicas de Infra */
.skills-column:nth-child(2) .progress:nth-child(1) .bar span { width: 95%; } /* Redes */
.skills-column:nth-child(2) .progress:nth-child(2) .bar span { width: 90%; } /* Server */
.skills-column:nth-child(2) .progress:nth-child(3) .bar span { width: 85%; } /* Virtua */

.stacks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 1.2rem; 
    max-width: 1100px; 
    margin: 3rem auto;
    padding: 0 2rem;
}

.stack-box {
    
    flex: 0 1 calc(16.66% - 1.2rem); 
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.stack-box img {
    height: 38px; 
    width: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.stack-box:hover {
    transform: translateY(-7px) scale(1.05);
    filter: drop-shadow(0 0 12px var(--main-color)); 
}


@media (max-width: 992px) {
    .stack-box {
        flex: 0 1 calc(25% - 1.2rem);
    }
}


@media (max-width: 600px) {
    .stack-box {
        flex: 0 1 calc(50% - 1.2rem);
    }
}

/* --- SEÇÃO DIFERENCIAIS --- */
.diff-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 7%;
}

.diff-box {
    flex: 1 1 30rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: 0.5s ease;
}

.diff-box:hover {
    border-color: var(--main-color); 
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 231, 255, 0.2);
}

.diff-box i {
    font-size: 6rem;
    color: var(--main-color); /* Ciano */
    /* Efeito de brilho no ícone */
    text-shadow: 0 0 10px rgba(0, 231, 255, 0.5);
    margin-bottom: 1.5rem;
}

.diff-box h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.diff-box p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.timeline { padding: 4rem 9%; }
.timeline-container {
    max-width: 800px;
    margin: 0 auto;
    border-left: 2px solid var(--main-color);
    padding-left: 2rem;
}
.timeline-item {
    position: relative;
    margin-bottom: 3rem;
    background: var(--glass-bg);
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--glass-border);
}
.timeline-dot {
    position: absolute;
    left: -2.7rem;
    top: 2rem;
    width: 12px;
    height: 12px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color);
}
.timeline-date { color: var(--main-color); font-weight: 700; font-size: 1.4rem; }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    border-top: 1px solid var(--glass-border);
}
.footer-text p { font-size: 1.6rem; color: var(--text-color); }
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover { box-shadow: 0 0 1rem var(--main-color); }
.footer-iconTop a i { font-size: 2.4rem; color: var(--bg-color); }

::selection {
    background-color: var(--main-color);
    color: #000;
}


::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--bg-color); }
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 2rem;
    color: var(--main-color); 
    margin-bottom: 1rem;
    font-weight: 600;
}

.timeline-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.6;
}

.timeline-date {
    display: inline-block;
    color: #000;
    background: var(--main-color); 
    padding: 0.2rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

